  @font-face {
    font-family: SkyhookMonoBold;
    src: url("../fonts/SkyhookMono_bold.ttf");
}

@font-face {
    font-family: SkyhookMonoRegular;
    src: url("../fonts/SkyhookMono_regular.ttf");
}

@font-face {
    font-family: Introdução;
    src: url("../fonts/Fontfabric-Intro-Black-Caps.otf");
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 40px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

  @media (max-width: 820px) {
    .container {
      padding-bottom: 10vh;
      padding-right: 40px;
      padding-left: 40px;
    }
  }

.titles {
  font-family: "Introdução", sans-serif;
  font-size: 2.25rem;
  letter-spacing: 2px;
}

  @media (max-width: 820px) {
    .titles {
      font-size: 2rem;
    }
  }


/*  Header  */

.header {
  position: fixed;
  z-index: 3;
  width: 100%;
  background-color: rgb(256, 256, 256);
  opacity: .9;
}

.header .container {
  min-height: 100%;
  padding: 20px 40px;
}

  @media (max-width: 820px) {
    .header .container {
      padding: 10px 40px; 
    }
  }

.header-menu {
  display: flex;
  flex-direction: column;
}

.menu-logo {
  width: 375px;
  height: 47px;
}

  @media (max-width: 820px) {
    .menu-logo {
      width: 100%;
      transition: all 0.5s ease-out;
    }

    .menu-logo.--scale-down {
      transform: scale(0.85);
      margin-left: -22px;
    }
  }

.menu-icon-mobile {
  display: none;
}

  @media (max-width: 820px) {
    .menu-icon-mobile.--fade-in {
      display: block;
      transform: scale(0.85);
      opacity: 1;
      align-self: center;
    }
  }

.menu-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-button {
  display: block;
  border: none;
  background: none;
  width: 50%;
}

  @media (max-width: 820px) {
    .menu-button {
      display: none;
    }

    .menu-button.--fade-in {
      display: block;
      border: none;
      width: auto;
      background: none;
      margin: 0;
      padding: 0;
    }
  }

.menu-list {
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

.menu-list a {
  text-decoration: none;
}

  @media (max-width: 820px) {
    .menu-list {
      display: none;
    }

    .menu-list.--drop-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      background-color: rgba(255, 221, 0, 1);
      position: absolute;
      left: 0px;
      top: 59vh;
      padding-left: 20px;
      height: 39vh;
      width: 100%;
    }
  }

.menu-item {
  display: none;
  font-family: 'SkyhookMonoBold', sans-serif;
  font-size: 16px;
  list-style: none;
  color: black;
  padding: 7px 10px;
  margin: 0px 8px;
  margin-right: -10px;
  transition: all 1s ease-out;
  opacity: 0;
  text-transform: lowercase;
}

.menu-item.--fade-in {
  display: block;
  opacity: 1;
}

.menu-item-home {
  display: none;
}

.menu-item.--fade-in:nth-child(4) {
  border: solid 1px;
  border-color: rgba(255, 221, 0, 1);
}

  @media (max-width: 820px){
    .menu-item {
      transition: none;
      opacity: 1;
    }

    .menu-item.--drop-item {
      display: block;
      font-size: 1.5rem
    }

    .menu-item-home {
      display: block;
    }
  }

.header-imgs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  height: 20vh;
  position: absolute;
  right: 40px;
  top: 40vh;
}

  @media (max-width: 820px) {
    .header-imgs {
      display: none
    }
  }

.img-item {
  width: 40px;
}


/*  Home  */

.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 90vh;
}

  @media (max-width: 820px) {
    .home {
      height: 100%;
      justify-content: center;
      position: relative;
      height: 80vh;
    }
  }

.home .container {
  justify-content: flex-end;
}

  @media (max-width: 820px) {
    .home .container {
      justify-content: space-between;
    }
  }

.home-text {
  align-self: flex-start;
  font-family: "SkyhookMonoBold";
  font-size: 1.375rem;
  line-height: 38px;
  max-width: 54%;
  min-width: 700px;
  height: 40vh;
}

  @media (max-width: 820px) {
    .home-text {
      height: 90vh;
      min-width: 100%;
      font-size: 1.375rem;
      padding-top: 160px;
    }
  }

.home-span {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 10px;
}

  @media (max-width: 820px) {
    .home-span {
      position: absolute;
      bottom: -20px;
      font-size: .8rem;
      align-self: center;
      z-index: 2;
    }
  }

/*  Deeper  */

.deeper {
  background-image: url("../img/Mergulho-Cinza-sem_texto.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

  @media (max-width: 820px) {
    .deeper {
      background-image: none;
      background-color: rgba(255, 221, 0, 1);
      height: 100%;
      position: relative;
      margin-top: -60px;
    }
  }

.deeper .container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 100vh;
  padding-bottom: 40px;
}

  @media (max-width: 820px) {
    .deeper .container {
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      min-height: 50vh;
      padding-bottom: 20px;
      position: relative;
    }
  }

.deeper-img {
  display: none;
}

  @media (max-width: 820px) {
    .deeper-img {
      display: block;
      background-color: white;
      width: 100vw;
    }
  }

.deeper-title {
  font-family: "Introdução", sans-serif;
  font-size: 5.625rem;
  color: rgba(255, 221, 0, 1);
  padding: 0px;
  margin: 0px;
}

  @media (max-width: 820px) {
    .deeper-title {
      font-size: 4.625rem;
      color: rgba(116, 38, 152, 1);
      max-width: 320px;
      position: absolute;
      top: -16vh;
    }
  }

.deeper-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.125rem;
  line-height: 32px;
  width: 350px;
  transition: all 0.5s ease-out;
  opacity: 0;
 }
 
.deeper-text.--fade-in {
  opacity: 1;
}

  @media (max-width: 820px) {
    .deeper-text {
      font-size: 1.25rem;
      width: 100%;
      line-height: 36px;
    }
  }


/*  Deep-Digital  */

.deep-digital {
  max-height: 110vh
}

.deep-digital .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.deep-digital-title {
  align-self: flex-start;
}

.deep-digital-box {
  width: 46vw;
}

  @media(max-width: 820px) {
    .deep-digital-box {
      width: 100%;
    }
  }

.deep-digital-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
  line-height: 38px;
}

  @media (max-width: 820px) {
    .deep-digital-text {
      line-height: 32px;
    }
  }

.deep-digital-span {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.125rem;
  color: rgba(255, 0, 112, 1);
}

.deep-digital-link {
  color: rgba(255, 0, 112, 1);
}


/*  Value  */

.value {
  position: relative;
}

  @media (max-width: 820px) {
    .value {
      max-height: 100%;
    }
  }

.value .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 125px;
  min-height: 100vh;
}

.value-title {
  align-self: flex-start;
}

.value-box {
  width: 46vw;
}

  @media(max-width: 820px) {
    .value-box {
      width: 100%;
    }
  }

.value-box-imgs {
  display: flex;
  align-items: center;
  margin-left: -6px;
  margin-bottom: 40px;
}

  @media (max-width: 820px) {
    .value-box-imgs {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }
  }

.value-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
  line-height: 38px;
}

  @media (max-width: 820px) {
    .value-text {
      line-height: 32px;
    }
  }

.value-span {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.125rem;
  color: rgba(255, 0, 112, 1);
}

@media (max-width: 820px) {
  .value-span {
  }
}

.value-link {
  color: rgba(255, 0, 112, 1);
}

.logo-ps {
  width: 114px;
}

.logo-vnw {
  width: 70px;
}

.logo-startup {
  width: 140px;
}

.value-img {
  margin-right:30px;
}

  @media (max-width: 820px) {
    .value-img {
      margin-right: 10px;
    }

    .logo-ps {
      width: 160px;
    }

    .logo-vnw {
      width: 110px;
    }

    .logo-startup {
      width: 200px;
    }
  }


/*  Services  */

.services {
  min-height: 100vh;
}

.services .container {
  padding: 0;
  display: flex;
  justify-content: center;
}

  @media (max-width: 820px) {
    .services .container {
      padding-bottom: 15vh;
    }
  }

.services-title {
  padding-left: 40px;
}

.services-list {
  display: flex;
  flex-flow: row nowrap;
}

  @media(max-width: 820px) {
    .services-list {
      flex-direction: column;
    }
  }

.services-box {
  display: flex;
  flex-direction: column;
  background-color: rgba(240, 240, 240, 1);
  border: solid 1px;
  border-color: rgb(216, 216, 216);
  width: 25vw;
  min-height: 60vh;
  margin: 0px;
  padding: 40px;
  position: relative;
  opacity: 0;
}

.services-box.--fade-in:nth-child(1) {
  animation: box .5s ease-out;
  opacity: 1;
}

.services-box.--fade-in:nth-child(2) {
  animation: box 1s ease-out;
  opacity: 1;
}

.services-box.--fade-in:nth-child(3) {
  animation: box 1.5s ease-out;
  opacity: 1;
}

.services-box.--fade-in:nth-child(4) {
  animation: box 2s ease-out;
  opacity: 1;
}

@keyframes box {
 0%, 90% {
  background: #d9d9d9;
  color: #d9d9d9;
 } 
 0% {
  transform-origin: 0 0;
  transform: scaleY(0);
 }
}

  @media(max-width: 820px) {
    .services-box {
      width: 100vw;
      min-height: 40vh;
    }
  }

  @media (max-width: 820px) {
    .services-box {
      background-color: rgba(252, 252, 252, 0.75);
      height: 70vh;
    }
    .services-box:hover {
      background-color: rgba(256, 256, 256, 1);
    }
  }

.services-box-span {
 font-family: "SkyhookMonoRegular";
 font-size: .8rem;

}

.services-box-title {
  font-family: "Introdução", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
}

.services-box-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  width: 60%;
}

.text-4 {
  margin-top: -6px;
}

  @media (max-width: 820px) {
    .services-box-text {
      line-height: 32px;
    }

    .text-4 {
      margin-top: 16px;
    }
  }


.services-box-img {
  position: absolute;
  bottom: 40px;
  width: 35%;
  opacity: 0;
}

.services-box-img.--fade-in {
  animation: imgs 4s ease-out;
  opacity: 1;
}

@keyframes imgs {
 0%, 75% {
  opacity: 0;
 } 
 0% {
  transform-origin: 0 0;
  transform: scaleY(0);
 }
}

.icon-cloud {
  left: 26px;
}

.icon-bios{
  left: 36px;
}

.icon-startaupin{
  left: -6px;
}

.icon-value{
  left: 10px;
}

  @media(max-width: 820px) {
    .services-box-img{
    right: 15vw;
    bottom: 10vh;
    width: 25vw;
    }
  }

  @media (max-width: 820px) {
    .services-box-img {
      left: 10px;
      width: 35vw;
      bottom: 10px;
    }

    .icon-cloud {
      left: 26px;
    }

    .icon-bios{
      left: 36px;
    }
    .icon-startaupin{
      left: -6px;
    }
    .icon-value{
      left: 10px;
    }
  }


/*  Methods  */

.methods .container {
  display: flex;
  flex-direction: row;
  min-height: 80vh;
  position: relative;
}

  @media(max-width: 820px) {
    .methods .container {
      flex-direction: column;
    }
  }

.methods-title {
  margin: 0px;   
}

  @media (max-width: 820px) {
    .methods-title {
      margin: 0px;
    }
  }

.methods-box {
  display: flex;
  flex-direction: column;
  width: 55%;
  margin: 0 auto;
  margin-top: -16px;
}

  @media(max-width: 820px) {
    .methods-box {
      width: 100%;
      left: 0;
    }
  }

.methods-item {
  display: flex;
  align-items: center;
  width: 50vw;
}

  @media (max-width: 820px) {
    .methods-item {
      justify-content: space-between;
      flex-direction: column-reverse;
      align-items: flex-start;
      position: relative;
      width: 100%;
      height: 60vh;
    }
  }

.methods-item-description {
  width: 340px;
}

  @media (max-width: 820px) {
    .methods-item-description {
      margin: auto 0;
      width: 100%;
    }
  }

.methods-item-img {
  width: 100px;
  align-self: flex-start;
  margin-right: 15px;
}

  @media (max-width: 820px) {
    .methods-item-img {
      position: absolute;
      width: 35vw;
      bottom: -40px;
      left: -18px;
    }
  }

.item-description-title {
  font-family: "Introdução", sans-serif;
  font-size: 1.25rem;
  margin-bottom: 0px
}

.item-description-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  margin-top: 0px;
}

  @media (max-width: 820px) {
    .item-description-text {
      line-height: 32px;
    }
  }


/*  Contact  */

.contact {
  background-color: rgba(255, 221, 0, 1);
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.contact .container {
  display: flex;
  padding-top: 120px;
}

  @media(max-width: 820px) {
    .contact .container {
      justify-content: center;
      padding-top: 0;
    }
  }

.contact-box {
  width: 360px;
  margin: auto;
  margin-top: 15vh;
  z-index: 2;
}

  @media (max-width: 820px) {
    .contact-box {
      width: 100%;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }

.contact-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.375rem;
  font-weight: 700;
  margin: 35px 0;
}

  @media (max-width: 820px) {
    .contact-text {
      font-size: 1.125rem;
      line-height: 28px;
      margin: 20px 0px;
    }
  }

.contact-address {
  font-family: 'Source Sans Pro', sans-serif;
  color: #742698;
  font-size: 1rem;
  font-weight: 700;
  line-height: 16px;
}

  @media (max-width: 820px) {
    .contact-address {
      font-size: 1.125rem;
      line-height: 28px;
      color: rgba(0, 0, 0, 1);
      margin-bottom: -15px;
    }
  }

.contact-imgs {
  display: none;
}

  @media (max-width: 820px) {
    .contact-imgs {
      display: flex;
      margin-left: -18px;
      margin-top: 18px;
      margin-bottom: 20px; 
    }

    .contact-img-item {
      width: 20vw;
    }
  }

.left-hand {
  position: absolute;
  transform: rotate(20deg);
  bottom: 10px;
  left: -55px;
  width: 500px;
  z-index: 1;
} 

.right-hand {
  position: absolute;
  width: 500px;
  transform: rotate(20deg);
  top: 10px;
  right: -40px;
  z-index: 1;
}

  @media (max-width: 820px) {
    .left-hand, .right-hand {
      display: none;
    }
  }

.contact-span {
  position: absolute;
  bottom: 10px;
  left: 37%;
  margin: auto 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

  @media (max-width: 820px) {
    .contact-span {
      left: 40px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

.contact-span-text {
  font-family: "SkyhookMonoBold";
  font-size: .75rem;
  color: rgba(105, 91, 0, 1); 
}

  @media (max-width: 820px) {
    .contact-span-text {
      font-size: 1rem;
    }

   @media (max-width: 500px) {
    .contact-span-text {
      font-size: .8rem;
    }
  }