@font-face {
    font-family: SkyhookMonoBold;
    src: url("../fonts/SkyhookMono_bold.ttf");
}

@font-face {
    font-family: Introdução;
    src: url("../fonts/Fontfabric-Intro-Black-Caps.otf");
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 40px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media(max-width: 790px) {
  .container {
    padding: 20px;
  }
}

@media (max-width: 500px) {
  .container {
    padding-bottom: 10vh;
  }
}

.titles {
  font-family: "Introdução", sans-serif;
  font-size: 2.25rem;
  letter-spacing: 2px;
}

@media(max-width: 500px) {
  .titles {
    font-size: 2rem;
  }
}


/*  Header  */

.header {
  position: fixed;
  z-index: 3;
  width: 100%;
}

.header-container {
  width: 100%;
  padding: 40px;
}

.header-menu {
  display: flex;
  flex-direction: column;
}

.menu-logo {
  width: 300px;
}

.menu-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 0px;
}

@media(max-width: 500px) {
  .menu-list {
    display: none
  }
}

.menu-item {
  font-family: 'SkyhookMonoBold', sans-serif;
  font-size: 16px;
  list-style: none;
  background-color: white;
  border: solid 1px;
  border-color: rgba(255, 221, 0, 1);
  padding: 7px 10px;
  margin: 0px 8px;
}

.menu-item:nth-child(4) {
  position: absolute;
  right: 40px;
}

.header-imgs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  height: 20vh;
  position: absolute;
  right: 40px;
  top: 40vh;
}

@media(max-width: 500px) {
  .header-imgs {
    display: none
  }
}

.img-item {
  width: 40px;
}


/*  Home  */

.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 90vh;
}

@media(max-width: 500px) {
  .home {
    height: 100%;
    justify-content: center;
    position: relative;
    height: 80vh;
  }
}

.home .container {
  justify-content: flex-end;
}

@media(max-width: 500px) {
  .home .container {
    justify-content: center;
  }
}

.home-text {
  align-self: flex-start;
  font-family: "SkyhookMonoBold";
  font-size: 1.375rem;
  line-height: 38px;
  width: 55%;
  height: 40vh;
}

@media(max-width: 500px) {
  .home-text {
    height: 100%;
    width: 100%;
    font-size: 1.375rem;  
  }
}

.home-span {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-size: 11px;
  line-height: 14px;
}

@media(max-width: 500px) {
  .home-span {    
     font-size: 1rem;
     position: absolute;
     bottom: 0px;
     left: 40vw;
  }
}

/*  Deeper  */

.deeper {
  background-image: url("../img/Mergulho-Cinza-sem_texto.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

@media(max-width: 500px) {
  .deeper {
    background-image: none;
    background-color: rgba(255, 221, 0, 1);
    height: 100%;
    position: relative;
  }
}

.deeper .container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 100vh;
  padding-bottom: 40px;
}

@media(max-width: 500px) {
  .deeper .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    padding-bottom: 20px;
    position: relative;
  }
}

.deeper-img {
  display: none;
}

@media(max-width: 500px) {
  .deeper-img {
    display: block;
    background-color: white;
    width: 100vw;
  }
}

.deeper-title {
  font-family: "Introdução", sans-serif;
  font-size: 3.75rem;
  color: rgba(255, 221, 0, 1);
  text-shadow: rgba(255, 221, 0, 0.23),5px 3px;
  padding: 0px;
  margin: 0px;
}

@media(max-width: 500px) {
  .deeper-title {
    font-size: 4.625rem;
    color: rgba(116, 38, 152, 1);
    max-width: 320px;
    position: absolute;
    top: -12vh;
  }
}

.deeper-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.125rem;
  line-height: 32px;
  width: 350px
}

@media(max-width: 500px) {
  .deeper-text {
    font-size: 1.25rem;
    width: 100%;
    line-height: 36px;
  }
}


/*  Deep-Digital  */

.deep-degital {
  max-height: 110vh
}

.deep-degital .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 40px;
}

.deep-degital-title {
  align-self: flex-start;
}

.deep-degital-box {
  width: 46vw;
}

@media(max-width: 790px) {
  .deep-degital-box {
    width: 90vw;
  }
}

.deep-degital-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
}

@media(max-width: 500px) {
  .deep-degital-text {
    line-height: 32px;
  }
}

.deep-degital-span {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.125rem;
  color: rgba(255, 0, 112, 1);
}

.deep-degital-link {
  color: rgba(255, 0, 112, 1);
}


/*  Value  */

.value {
  max-height: 110vh
}

@media (max-width: 500px) {
  .value {
    max-height: 100%;
  }
}

.value .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 40px;
  min-height: 100vh;
}

.value-title {
  align-self: flex-start;
}

.value-box {
  width: 46vw;
}

.value-box-imgs {
 display: flex;
 align-items: center;
}

@media(max-width: 790px) {
  .value-box {
    width: 90vw;
  }
}

.value-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
}

@media(max-width: 500px) {
  .value-text {
    line-height: 32px;
  }
}

.value-span {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.125rem;
  color: rgba(255, 0, 112, 1);
}

.value-link {
  color: rgba(255, 0, 112, 1);
}

@media(max-width: 500px) {
  .value-box-imgs {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}

.value-img {
  width: 100px
}

@media(max-width: 500px) {
  .value-img {
    width: 40vw;
  }
}


/*  Services  */

.services {
  padding-top: 10vh;
  min-height: 100vh;
}

.services .container {
  padding: 0px;
}

@media (max-width: 500px) {
  .services .container {
    padding-bottom: 15vh;
  }
}

.services-title {
  padding-left: 40px;
}

@media (max-width: 500px) {
  .services-title {
    padding-left: 20px;
  }
}

.services-list {
  display: flex;
  flex-flow: row nowrap;
}

@media(max-width: 790px) {
  .services-list {
    flex-direction: column;
  }
}

.services-box {
  display: flex;
  flex-direction: column;
  background-color: rgba(240, 240, 240, 1);
  border: solid 1px;
  border-color: rgb(216, 216, 216);
  width: 25vw;
  min-height: 60vh;
  margin: 0px;
  padding: 40px;
  position: relative;
}

@media(max-width: 790px) {
  .services-box {
    width: 100vw;
    min-height: 40vh;
  }
}

@media(max-width: 500px) {
  .services-box {
    background-color: rgba(252, 252, 252, 0.75);
    padding: 20px;
    height: 70vh;
  }
}

@media(min-width: 500px) {
  .services-box:hover {
    background-color: rgba(217, 217, 217, 1);
  }
}

.services-box-span {
 font-family: "SkyhookMonoBold";
 font-size: .8rem;
}

.services-box-title {
  font-family: "Introdução", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
}

.services-box-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  width: 60%;
  font-weight: 700;
}

@media(max-width: 500px) {
  .services-box-text {
    line-height: 32px;
  }
}

.services-box-img {
  position: absolute;
  bottom: 40px;
  width: 35%;
}

@media(max-width: 790px) {
  .services-box-img{
  right: 15vw;
  bottom: 10vh;
  width: 25vw;
  }
}

@media(max-width: 500px) {
  .services-box-img {
    left: 10px;
    width: 35vw;
    bottom: 10px;
  }

  .icon-cloud {
    left: 6px;
  }

  .icon-bios{
    left: 14px;
  }
  .icon-startaupin{
    left: -14px;
  }
  .icon-value{
    left: 6px;
  }
}


/*  Methods  */

.methods .container {
  display: flex;
  flex-direction: row;
  min-height: 70vh;
}

@media(max-width: 790px) {
  .methods .container {
    flex-direction: column;
  }
}

.methods-title {
  margin: 12px;   
}

@media (max-width: 500px) {
  .methods-title {
    margin: 0px;
  }
}

.methods-box {
  display: flex;
  flex-direction: column;
  width: 55%;
  position: relative;
  left: 6%;
}

@media(max-width: 790px) {
  .methods-box {
    width: 90%;
    left: 0;
  }
}

.methods-item {
  display: flex;
  align-items: center;
}

@media (max-width: 500px) {
  .methods-item {
    flex-direction: column-reverse;
    align-items: flex-start;
    position: relative;
    height: 60vh;
  }
}

.methods-item-descripion {
  width: 70%;
}

@media (max-width: 500px) {
  .methods-item-description {
    margin: auto 0;
  }
}


.methods-item-img {
  width: 100px;
}

@media (max-width: 500px) {
  .methods-item-img {
    position: absolute;
    width: 35vw;
    bottom: -40px;
    left: -18px;
  }
}

.item-description-title {
  font-family: "Introdução", sans-serif;
  font-size: 20px;
}

.item-description-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}

@media (max-width: 500px) {
  .item-description-text {
    line-height: 32px;
  }
}

/*  Contact  */

.contact {
  background-color: rgba(255, 221, 0, 1);
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.contact .container {
  display: flex;
  padding-top: 10vh;
}

@media(max-width: 790px) {
  .contact .container {
    justify-content: center;
    padding: 20px;
  }
}

@media(max-width: 500px) {
  .contact .container {
    min-height: 100vh;
    justify-content: flex-start;
  }
}


.contact-title {
  padding-top: 8%;
}

.contact-box {
  width: 40%;
  align-self: center;
  z-index: 2;
}

@media(max-width: 790px) {
  .contact-box {
    width: 100%;
  }
}

.contact-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.375rem;
  font-weight: 700;
  margin: 35px 0;
}

@media (max-width: 500px) {
  .contact-text {
    font-size: 1.125rem;
    line-height: 28px;
  }
}

.contact-address {
  font-family: 'Source Sans Pro', sans-serif;
  color: #742698;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 16px;
}

@media (max-width: 500px) {
  .contact-address {
    font-size: 1.125rem;
    line-height: 28px;
    color: rgba(0, 0, 0, 1);
  }
}

.contact-imgs {
  display: none;
}

@media (max-width: 500px) {
  .contact-imgs {
    display: flex;
    position: absolute;
    bottom: 80px;
    left: 4px;
  }

  .contact-img-item {
    width: 20vw;
  }
}

.left-hand {
  position: absolute;
  transform: rotate(20deg);
  bottom: 10px;
  left: -55px;
  width: 500px;
  z-index: 1;
} 

.right-hand {
  position: absolute;
  width: 500px;
  transform: rotate(20deg);
  top: 10px;
  right: -40px;
  z-index: 1;
}

@media (max-width: 500px) {
  .left-hand, .right-hand {
    display: none;
  }
}

.contact-span {
  position: absolute;
  bottom: 0;
  left: 40vw;
}

@media (max-width: 500px) {
  .contact-span {
    position: initial;
    align-self: flex-start;
  }
}

.contact-span-text {
  font-family: "SkyhookMonoBold";
  font-size: .75rem;
  color: rgba(105, 91, 0, 1); 
}

.contact-span-link {
  color: rgba(105, 91, 0, 1);
}

.contact-span-img {
  display: none;
}